// assets/scss/_variables.scss
$primary-color: #E9A835;      // Amarelo
$dark-background: #1D1D1C;    // Fundo chumbo
$light-text: #FFFFFF;         // Texto branco
$light-background: #F5F5F5;   // Cinza claro para apoio
$dark-text: #333333;          // Texto escuro para apoio